.carte{  
    padding : 4%;
    margin:8px;
    overflow:scroll;
    height:450px;
    background-color: #f1f2f6;
    border-radius: 12px;
    transition-duration: 0.5s;
    box-shadow:  5px 5px 5px rgba(0,0,0,0.4),
                inset -5px -5px 10px rgba(255,255,255,0.1)
}

.liste-albums:hover .carte{
    filter:blur(10px);
    opacity:0.6;
    transform: scale(0.9);
}

.liste-albums .carte:hover{
    filter:blur(0px);
    opacity:1;
    transform: scale(1.1);
    background-color: #931513;
}

.container{
    position: relative;
    display: inline-block;
    padding-top: 10%;
}

.liste-albums{
    display:grid;
    grid-template-columns: repeat(4, 300px);   
    justify-content: center;
    justify-content: space-around;
    box-sizing: border-box;
    align-items: center;
    margin-top: 3%;
    opacity:0;
    transform:translateY(-30px);
    animation: apparition 0.6s 1s ease-out forwards;
}

h1{
    opacity:0;
    transform: translateX(20px);
    position: center;
    padding-top: 20px;
    animation: apparition 0.6s 0.5s ease-out forwards;
}

@keyframes apparition{
    100%{
        opacity:1;
        transform:none;
    }
}

